/* Color Variables */
:root {
    --MinhHung-Red: rgba(203, 28, 34, 1);
    --MinhHung-Red-Hover: rgb(165, 24, 29);
    --MaxPro-Orange: #db850e;
    --MaxPro-Orange-Hover: #be750d;
    --Shimge-Blue: #00a0a8;
    --Shimge-Blue-Hover: #007980;
    --Hhose-Yellow: #efe649;
    --Hhose-Yellow-Hover: #c9c243;
    --Hammer-Turquoise: #56a6a5;
    --Hammer-Turquoise-Hover: #4a9190;
    --Delete-Red: #cb1c22;
    --Delete-Red-Hover: rgb(165, 24, 29);
    --Positive-Green: #228B22;
    --Positive-Green-Hover: #196719;
    --Info-Yellow: #eed202;
    --Solid-White: #ffffff;
    --Solid-Black: #000000;
    --Solid-Gold: #f5bd02;
}

/* pre-loader */

.preloaderBg {
    position: fixed;
    z-index: 9999;
    top: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
}

.preloader {
    margin: auto;
    background: url("/images/front_images/logoMinhHung.png") no-repeat center;
    background-size: 150px;
    width: 300px;
    height: 300px;
    position: relative;
    top: 280px;
}

.preloader2 {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #f00;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    animation: spin 1s ease-in-out infinite;
    position: relative;
    margin: auto;
}

/* to top btn */

.toTopBg {
    position: fixed;
    z-index: 9997;
    top: 90vh;
    left: 50px;
}

#scrollToTopBtn {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: saturate(100%) blur(5px);
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
}

/* general css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 130%;

    a {
        &:hover {
            color: var(--MinhHung-Red);
            transition: color 0.3s ease;
        }

        &:focus {
            color: inherit;
            outline: none;
        }
    }
}

a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

p {
    color: #000;
}

ul {
    padding-left: 0 !important;
}

/* fundamental container, row, and column CSS */

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;

    h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
        text-transform: uppercase;
    }
}

.row .col-4 {
    a {
        padding: 0 !important;
    }

    h4 {
        &:hover {
            color: var(--MinhHung-Red);
        }

        margin-bottom: -5px;
        transition: all 0.3s ease;
        text-overflow: ellipsis;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }
}

.flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-title {
    margin-bottom: -15px;
    color: var(--Solid-Black);
    text-align: center;
    width: 100%;
    display: inline-block;
    font-weight: 800;
}

.price {
    text-align: center;
}

/* button css */

.btn {
    display: inline-block;
    background-color: var(--MinhHung-Red);
    color: var(--Solid-White);
    padding: 8px 30px;
    margin: 30px 0;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease-out;
    border-radius: 4px !important;

    &:focus {
        box-shadow: none !important;
    }

    &:hover {
        background-color: var(--Solid-Black);
        color: var(--Solid-Gold) !important;
    }
}

.next {
  position: absolute;
  top: 35%;
  right: -50px !important;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 999;
  border: 2px solid black;

  &:hover {
      color: var(--MinhHung-Red);
      transition: color 0.3s ease;
  }
} // nav-next btn for featured carousel in index page

.prev {
  position: absolute;
  top: 35%;
  left: -50px !important;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 999;
  border: 2px solid black;

  &:hover {
      color: var(--MinhHung-Red);
      transition: color 0.3s ease;
  }
} // nav-prev btn for featured carousel in index page