/* Color Variables */
:root {
    --MinhHung-Red: rgba(203, 28, 34, 1);
    --MinhHung-Red-Hover: rgb(165, 24, 29);
    --MaxPro-Orange: #db850e;
    --MaxPro-Orange-Hover: #be750d;
    --Shimge-Blue: #00a0a8;
    --Shimge-Blue-Hover: #007980;
    --Hhose-Yellow: #efe649;
    --Hhose-Yellow-Hover: #c9c243;
    --Hammer-Turquoise: #56a6a5;
    --Hammer-Turquoise-Hover: #4a9190;
    --Delete-Red: #cb1c22;
    --Delete-Red-Hover: rgb(165, 24, 29);
    --Positive-Green: #228B22;
    --Positive-Green-Hover: #196719;
    --Info-Yellow: #eed202;
    --Solid-White: #ffffff;
    --Solid-Black: #000000;
    --Solid-Gold: #f5bd02;
}

/* pre-loader */

.preloaderBg {
    position: fixed;
    z-index: 9999;
    top: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
}

.preloader {
    margin: auto;
    background: url("/images/front_images/logoMinhHung.png") no-repeat center;
    background-size: 150px;
    width: 300px;
    height: 300px;
    left: 0;
    right: 0;
    position: fixed;
    top: 32vh;
}

.preloader2 {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #f00;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    animation: spin 1s ease-in-out infinite;
    position: fixed;
    left: 0;
    right: 0;
    top: 35vh;
    margin: auto;
}

/* pop up */

#popup {
    display:none;
    position:fixed;
    margin:0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;

    .panel-footer{
        position:absolute; 
        top: 2px;
        left: 378px;
        cursor: pointer;
        user-select: none;
        height: 30px;
        width: 30px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: absolute;
        box-sizing: border-box;
        color: var(--Solid-White);

        i{
            border-color: #000;
        }
    }

    a{
        img{
            width: 403px;
            height: 500px;
        }
    }
}


.popup_background{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    place-content: center;
    -webkit-box-pack: center;
    z-index: 9000;
}

/* to top btn */

.toTopBg {
    position: fixed;
    z-index: 9997;
    top: 90vh;
    left: 50px;
    visibility: hidden;
    opacity: 0;
}

.toTopBg.active{
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    animation: slideInOpacity 0.3s ease-in-out both;
}

#scrollToTopBtn {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: saturate(100%) blur(5px);
    border: none;
    border-radius: 50%;
    color: var(--Solid-White);
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
    transition: all 0.1s ease;

    &:hover{
        background-color: rgba(255, 255, 255, 0.3);
        color: var(--Solid-Black);
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
}

/* general css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 130%;

    a {
        &:hover {
            color: var(--MinhHung-Red);
            transition: color 0.3s ease;
        }

        &:focus {
            color: inherit;
            outline: none;
        }
    }
}

a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

p {
    color: #000;
}

ul {
    padding-left: 0 !important;
}

/* fundamental container, row, and column CSS */

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;

    h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
        text-transform: uppercase;
    }
}

.row .col-4 {
    a {
        padding: 0 !important;
    }

    h4 {
        &:hover {
            color: var(--MinhHung-Red);
        }

        margin-bottom: -5px;
        transition: all 0.3s ease;
        text-overflow: ellipsis;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }
}

.flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-title {
    margin-bottom: -15px;
    color: var(--Solid-Black);
    text-align: center;
    width: 100%;
    display: inline-block;
    font-weight: 800;
}

.price {
    text-align: center;
}

/* button css */

.btn {
    display: inline-block;
    background-color: var(--MinhHung-Red);
    color: var(--Solid-White);
    padding: 8px 30px;
    margin: 30px 0;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease-out;
    border-radius: 4px !important;

    &:focus {
        box-shadow: none !important;
        color: var(--Solid-White);
    }

    &:hover {
        background-color: var(--Solid-Black);
        color: var(--Solid-Gold) !important;
    }
}

.next {
  position: absolute;
  top: 35%;
  right: -50px !important;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 999;
  border: 2px solid black;

  &:hover {
      color: var(--MinhHung-Red);
      transition: color 0.3s ease;
  }
} // nav-next btn for featured carousel in index page

.prev {
  position: absolute;
  top: 35%;
  left: -50px !important;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 999;
  border: 2px solid black;

  &:hover {
      color: var(--MinhHung-Red);
      transition: color 0.3s ease;
  }
} // nav-prev btn for featured carousel in index page

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    caret-color: var(--MinhHung-Red);
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 2px solid #888;
    display: inline-flex;
    height: 28px;
    margin: 0px 20px 0px 20px;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:hover{
      background-color: rgba(0,0,0, 0.3);
  }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #333;
    transform: translate(-50%, -50%);
  }
  
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    border: 2px solid #888;
    border-width: 0px 2px;
    font-size: 1.2rem;
    border-radius: 0;
    height: 24px;
    margin: 0px !important;
    font-weight: bold;
    text-align: center;
  }