/* Index Carousel CSS */

.carousel-item {
    height: 90vh;
    background: #777;
    position: relative;
}

.index-carousel-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    height: 90vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    opacity: 0;
    transition: all 0.3s ease;

    &:hover {
        opacity: 1;

        > .overlay-btn {
            animation: waitSlideUp 2.0s ease-in-out both;
        }

        .typewriter p {
            font-family: 'Style Script', cursive;
            padding-left: 30px;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: .10em solid var(--MinhHung-Red); /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: 0.05em; /* Adjust as needed */
            animation: 
            typing 1.5s steps(240, end),
            blink-caret .75s step-end infinite;
        }
    }

    > .btn {
        font-size: 22px;
        border-radius: 2px;
        margin-top: 15px;
    }

    p {
        color: #000000;
        font-weight: 400;
        margin-bottom: 0;
    }
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: opacity 0.3s ease;
    background-position: center;

    a {
        padding: 0;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.overlay-credo {
    height: 70%;
    width: 45%;
    padding-top: 52vh !important;
    display: flex;
    justify-content: center;
    text-align: center;
}

.overlay-btn {
    width: 45%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(150px);
    transition: transform 0.8s ease;
}
