<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới Thiệu | Minh Hưng JSC</title>
    <link rel = "icon" href="images/logo.png" type="image/x-icon"> 
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/197ff1d829.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        /* .about-col-1{
            margin-bottom: 26%;    
        }    */
    </style>
</head> 
<body>
<!------header------->
<div class="container">
    <div class="navbar">
        <div class="logo"> 
            <a href="index.html"><img id="company-logo" src="images/logo.png" alt="logo công ty"></a> 
        </div>
        <nav>
            <ul id="MenuItems">   
                <li><a class="index-nav" href="index.html">Trang Chủ</a></li>
                <li><a class="index-nav" id="active-page" href="about.html">Giới Thiệu</a></li>
                <li><a class="index-nav" href="products.html">Sản Phẩm</a></li>
                <li><a class="index-nav" href="news-events.html">Tin Tức - Sự Kiện</a></li>
                <li><a class="index-nav" href="contact.html">Liên Hệ</a></li>
                <li><a class="index-nav" href="account.html">Tài Khoản</a></li>
            </ul>
        </nav>
        <a href="cart.html"><img src="images/cart.png" width="30px" height="30px" alt="biệu tượng giỏ hàng"></a>
        <img src="images/menu.png" class="menu-icon" alt="biệu tượng menu" 
        onclick="menutoggle()">
    </div>
</div>     
<!------about us------->
<div class="about-page">
    <div class="small-container">
        <div class="row">
            <div class="about-col-1">
                <div class="tab">
                    <a href="about.html" id="titlenav" class="btn">GIỚI THIỆU</a>
                    <a href="about_founding-history.html"><button id="active-tab" class="tablinks">Lịch Sử Hình Thành</button></a>
                    <hr id="Separator">
                    <a href="about_vision-and-mission.html"><button class="tablinks">Tầm Nhìn - Sứ Mệnh</button></a>
                    <hr id="Separator">
                    <a href="about_org-chart.html"><button class="tablinks">Sơ Đồ Tổ Chức</button></a>
                    <hr id="Separator">
                    <a href="about_dev-strat.html"><button class="tablinks">Chiến Lược Phát Triển</button></a>
                    <hr id="Separator">
                    <a href="about_biz-philosophy.html"><button class="tablinks">Triết Lý Kinh Doanh</button></a>
                    <hr id="Separator">
                    <a href="about_awards.html"><button class="tablinks">Danh Hiệu - Giải Thưởng</button></a>
                    <hr id="Separator">
                </div>
            </div>
            <div class="about-col-2">
                <div class="tabcontent">
                    <div class="tabcontent-title">
                    <h2>Lịch Sử Hình Thành</h2>
                    </div>
                    <br>
                    <div class="tabcontent-content">
                    <h3>Lời Khẳng Định của chủ tịch HĐQT,</h3>
                    <br>
                    <p>CÔNG TY CP ĐẦU TƯ VÀ PHÁT TRIỂN MINH HƯNG là nhà sản xuất và chuyên kinh doanh đa dạng các mặt hàng trong và ngoài nước như: ống tuy ô - thủy lực công nghiệp SP FLEX *****; dụng cụ điện cầm tay MaxPro; máy bơm Shimge, băng tải cao su KOREA; băng tải PVC...</p>
                    <br>
                    <p>Từ khi thành lập cho đến nay công ty luôn được các khách hàng trong, ngoài nước tín nhiệm và đánh giá cao bởi chất lượng, mẫu mã, dịch vụ khách hàng sau khi bán.</p>
                    <br>
                    <p> Chúng tôi cũng là Nhà phân phối độc quyền của các sản phẩm Ống tuy ô - thủy lực công nghiệp mang thương hiệu SP FLEX *****; Dụng cụ điện cầm tay MaxPro,  Băng tải cao su KOREA,… để đáp ứng cho nhu cầu ngày càng cao và đa dạng của thị trường.</p>
                    <br>
                    <p>Xin cảm ơn Quý khách hàng đã tín nhiệm và sử dụng sản phẩm của công ty chúng tôi trong suốt thời gian qua.</p>
                    <br>
                    <h5>Trân trọng,</h5>
                    <h4>Phạm Dũng</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------footer------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Tải ứng dụng Minh Hưng</h3>
                <p>Tải trên nền tảng Android hoặc IOS trên thiết bị điện thoại di động.</p>
                <div class="app-logo">
                    <img src="images/play-store.png" alt:"Google Playstore">
                    <img src="images/app-store.png" alt:"Apple Store"> 
                </div>
            </div>
            <div class="footer-col-2">
                <div class="footerLogo">    
                    <a href="index.html"><img src="images/logo.png" alt="logo công ty"></a>
                </div>
                <p>Địa chỉ: 56 Trương Phước Phan, Phường Bình Trị Đông, Quận Bình Tân, TP. HCM</p>
                <p>Tel: (028) 62 666 333 - Fax: (028) 62 666 555</p>
                <p>Email: salesminhhung@gmail.com </p>
            </div>
            <div class="footer-col-3">  
                <h3>Thống Kê Truy Cập</h3>
                <ul>
                    <li>placeholder</li>
                    <li>placeholder</li>
                    <li>placeholder</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Theo Dõi Chúng Tôi</h3>
                <ul>
                    <a id="footer-nav" href="https://www.facebook.com/pages/C%C3%B4ng%20ty%20CP%20%C4%90%E1%BA%A7u%20T%C6%B0%20v%C3%A0%20Ph%C3%A1t%20Tri%E1%BB%83n%20Minh%20H%C6%B0ng/1966408697008473/" target="_blank"><li>Facebook</li></a>
                    <a id="footer-nav" href="https://www.youtube.com/channel/UCG5dwZKUAWetHU3BAkSl8Og" target="_blank"><li>Youtube</li></a>
                    <a id="footer-nav" href="https://nemgalaxy.vn/galaxy/" target="_blank"><li>Nệm Galaxy</li></a>
                </ul>
            </div>
        </div>
        <hr>
            <p class="copyright">2021 &#169; MINH HUNG JSC. ALL RIGHT RESERVED</p>
    </div>
</div>
<!--js for toggle menu-->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "250px";
            }
        else
            {
                MenuItems.style.maxHeight = "0px";
            }
    }
</script>
</body>
</html>