<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tài Khoản | Minh Hưng JSC</title>
    <link rel = "icon" href="images/logo.png" type="image/x-icon"> 
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/197ff1d829.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head> 
<body>
<!------header------->
    <div class="container">
        <div class="navbar">
            <div class="logo"> 
                <a href="index.html"><img id="company-logo" src="images/logo.png" alt="logo công ty"></a> 
            </div>
            <nav>
                <ul id="MenuItems">   
                    <li><a class="index-nav" href="index.html">Trang Chủ</a></li>
                    <li><a class="index-nav" href="about.html">Giới Thiệu</a></li>
                    <li><a class="index-nav" href="products.html">Sản Phẩm</a></li>
                    <li><a class="index-nav" href="news-events.html">Tin Tức - Sự Kiện</a></li>
                    <li><a class="index-nav" href="contact.html">Liên Hệ</a></li>
                    <li><a class="index-nav" id="active-page" href="account.html">Tài Khoản</a></li>
                </ul>
            </nav>
            <a href="cart.html"><img src="images/cart.png" width="30px" height="30px" alt="biệu tượng giỏ hàng"></a>
            <img src="images/menu.png" class="menu-icon" alt="biệu tượng menu" 
            onclick="menutoggle()">
        </div>
    </div> 
<!------account-page------->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Đăng Nhập</span>
                        <span onclick="register()">Đăng Ký</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm" action="">
                        <input type="text" placeholder="Tên Đăng Nhập">
                        <input type="password" placeholder="Mật Khẩu">
                        <button type="submit" class="btn">Đăng Nhập</button>
                        <a href="">Quên Mật Khẩu</a>
                    </form>
                    <form id="RegForm" action="">
                        <input type="text" placeholder="Tên Đăng Nhập">
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Mật Khẩu">
                        <button type="submit" class="btn">Đăng Ký Tài Khoản</button>
                    </form>
                </div>
            </div>
            <div class="col-2 index">
                <img src="images/homestock2.png" width="100%" alt="">
            </div>
        </div>
    </div>
</div>
<!------footer------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Tải ứng dụng Minh Hưng</h3>
                <p>Tải trên nền tảng Android hoặc IOS trên thiết bị điện thoại di động.</p>
                <div class="app-logo">
                    <img src="images/play-store.png" alt:"Google Playstore">
                    <img src="images/app-store.png" alt:"Apple Store"> 
                </div>
            </div>
            <div class="footer-col-2">
                <div class="footerLogo">    
                    <a href="index.html"><img src="images/logo.png" alt="logo công ty"></a>
                </div>
                <p>Địa chỉ: 56 Trương Phước Phan, Phường Bình Trị Đông, Quận Bình Tân, TP. HCM</p>
                <p>Tel: (028) 62 666 333 - Fax: (028) 62 666 555</p>
                <p>Email: salesminhhung@gmail.com </p>
            </div>
            <div class="footer-col-3">  
                <h3>Thống Kê Truy Cập</h3>
                <ul>
                    <li>placeholder</li>
                    <li>placeholder</li>
                    <li>placeholder</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Theo Dõi Chúng Tôi</h3>
                <ul>
                    <a id="footer-nav" href="https://www.facebook.com/pages/C%C3%B4ng%20ty%20CP%20%C4%90%E1%BA%A7u%20T%C6%B0%20v%C3%A0%20Ph%C3%A1t%20Tri%E1%BB%83n%20Minh%20H%C6%B0ng/1966408697008473/" target="_blank"><li>Facebook</li></a>
                    <a id="footer-nav" href="https://www.youtube.com/channel/UCG5dwZKUAWetHU3BAkSl8Og" target="_blank"><li>Youtube</li></a>
                    <a id="footer-nav" href="https://nemgalaxy.vn/galaxy/" target="_blank"><li>Nệm Galaxy</li></a>
                </ul>
            </div>
        </div>
        <hr>
            <p class="copyright">2021 &#169; MINH HUNG JSC. ALL RIGHT RESERVED</p>
    </div>
</div>
<!--js for toggle menu-->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "250px";
            }
        else
            {
                MenuItems.style.maxHeight = "0px";
            }
    }
</script>
<!--js for toggle form-->
<script>
    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator = document.getElementById("Indicator");

    function register(){
    RegForm.style.transform = "translateX(0px)";
    LoginForm.style.transform = "translateX(0px)";
    Indicator.style.transform = "translateX(100px)";
    }
    function login(){
    RegForm.style.transform = "translateX(300px)";
    LoginForm.style.transform = "translateX(300px)";
    Indicator.style.transform = "translateX(0px)";
    }
</script>
</body>
</html>