/* cart items */

.cart-page {
    margin: 80px auto;

    h2{
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 40px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;

    p{
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
        color: #888;
    }

    h4{
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a{
            padding: 0;
            color: var(--Solid-Black) !important;

            &:hover{
                color: var(--MinhHung-Red) !important;
            }
        }
    }
}

th {
    text-align: left;
    padding: 5px;
    color: var(--Solid-White);
    background: var(--MinhHung-Red);
    font-size: 1.3rem;
    font-weight: 700;
}

td {
    padding: 10px 5px;

    input {
        width: 80px;
        height: 30px;
        padding: 5px;

        font-size: 20px;
        border-radius: 4px;

        &:focus,
        &:hover {
            outline: none;
            border: 1px solid var(--MinhHung-Red);
        }
    }

    img {
        width: 115px;
        height: 100px;
        margin-right: 10px;
    }

    
    a:last-child{
        color: rgba(0, 0, 0, 0.3);

        &:hover{
            color: var(--MinhHung-Red);
        }
    }
}

.total-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    table {
        border-top: 1px solid #888;
        width: 100%;
        max-width: 400px;

        tr:last-child{
            border-top: 1px solid #888;
        }
    }
}

td:nth-child(4),
th:nth-child(4) {
    text-align: center;
}

td:last-child,
th:last-child {
    text-align: right;

}

#AppendCartItems td:last-child{
    color: var(--MinhHung-Red);
}

.row.listing.head.first.cart{
    a{
        padding: 0;
    }
    h5{
        text-align: right;
        margin-bottom: 10px;
        margin-top: 10px;

        &:last-child{
            color: #888;
        }
    }
}

.voucher-containter{
    .voucher{
        margin-top: 10px;
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-top-color: rgb(206, 212, 218);
        border-right-color: rgb(206, 212, 218);
        border-bottom-color: rgb(206, 212, 218);
        border-left-color: rgb(206, 212, 218);
        border-radius: 0.25rem;
        box-shadow: inset 0 0 0 transparent;
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;

        &:focus{
            color: #495057;
            background-color: #fff;
            outline: 0;
            box-shadow: inset 0 0 0 transparent;
            border-color: var(--MinhHung-Red);
        }
    }
    margin-right: 30px;

    p{
        button:first-child{
            margin-right: 40px;
            color: rgba(0, 0, 0, 0.3);
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid var(--Solid-Black);

            &:hover{
                color: var(--Solid-Black) !important;
                border: 2px solid var(--MinhHung-Red);
            } 
        }
    }
}

.empt-cart-noti{
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.search-mobile{
    display: none;
}

.trash-mobile{
    display: none;
}

.swal2-styled.swal2-cancel {
    background-color: var(--MinhHung-Red) !important;
    box-shadow: none !important;
    font-size: 1.2rem !important;
    font-weight: 700 !important;
    transition: all 0.3s ease-out;

    &:hover{
        color: var(--Solid-Gold) !important;
        background-color: var(--Solid-Black) !important;
    }
}

.swal2-styled.swal2-confirm {
    background-color: rgba(0, 0, 0, 0) !important;
    transition: all 0.3s ease-out;
    color: rgba(0, 0, 0, 0.3) !important;
    border: 2px solid var(--Solid-Black) !important;
    box-shadow: none !important;
    font-size: 1.2rem !important;
    font-weight: 700 !important;

    &:hover{
        color: var(--Solid-Black) !important;
        border: 2px solid var(--MinhHung-Red) !important;
    }
}

.swal2-styled:hover{
    background-image: none !important;
}

.swal2-html-container{
    font-size: 1.3rem !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

.swal2-icon.swal2-warning{
    color: var(--MinhHung-Red) !important;
    border-color: var(--MinhHung-Red) !important;
}