/* cart items */

.cart-page {
    margin: 80px auto;

    min-height: calc(100vh - 467.233px - 160px);

    h2{
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 40px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;

    p{
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
        color: #888;
    }

    h4{
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a{
            padding: 0;
            color: var(--Solid-Black) !important;

            &:hover{
                color: var(--MinhHung-Red) !important;
            }
        }
    }
}

th {
    text-align: left;
    padding: 5px;
    color: var(--Solid-White);
    background: var(--MinhHung-Red);
    font-size: 1.3rem;
    font-weight: 700;
}

td {
    padding: 10px 5px;

    input {
        width: 80px;
        height: 30px;
        padding: 5px;

        font-size: 20px;
        border-radius: 4px;

        &:focus,
        &:hover {
            outline: none;
            border: 1px solid var(--MinhHung-Red);
        }
    }

    img {
        width: 115px;
        height: 100px;
        margin-right: 10px;
    }

    
    a:nth-child(2){
        color: rgba(0, 0, 0, 0.3);
        cursor: pointer;

        &:hover{
            color: var(--MinhHung-Red);
        }
    }
}

.total-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    table {
        border-top: 1px solid #888;
        width: 100%;
        max-width: 400px;

        tr:last-child{
            border-top: 1px solid #888;
        }
    }
}

td:nth-child(4),
th:nth-child(4) {
    text-align: center;
}

td:last-child,
th:last-child {
    text-align: right;

}

#AppendCartItems td:last-child{
    color: var(--MinhHung-Red);
}

.row.listing.head.first.cart{
    a{
        padding: 0;
    }
    h5{
        text-align: right;
        margin-bottom: 10px;
        margin-top: 10px;

        &:last-child{
            color: #888;
        }
    }
}

.voucher-containter{
    width: fit-content;
    margin-top: -150px;
    .voucher{
        margin-top: 10px;
        display: block;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        max-width: 400px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-top-color: rgb(206, 212, 218);
        border-right-color: rgb(206, 212, 218);
        border-bottom-color: rgb(206, 212, 218);
        border-left-color: rgb(206, 212, 218);
        border-radius: 0.25rem;
        box-shadow: inset 0 0 0 transparent;
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;

        &:focus{
            color: #495057;
            background-color: #fff;
            outline: 0;
            box-shadow: inset 0 0 0 transparent;
            border-color: var(--MinhHung-Red);
        }
    }

    p{
        button:first-child{
            margin: 0 10px 0 0;
            color: rgba(0, 0, 0, 0.3);
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid var(--Solid-Black);

            &:hover{
                color: var(--Solid-Black) !important;
                border: 2px solid var(--MinhHung-Red);
            } 
        }

        .btn{
            margin: 0px;
        }
    }
}

.empt-cart-noti{
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.search-mobile{
    display: none;
}

.trash-mobile{
    display: none;
}

.swal2-styled.swal2-cancel {
    background-color: var(--MinhHung-Red) !important;
    box-shadow: none !important;
    font-size: 1.2rem !important;
    font-weight: 700 !important;
    transition: all 0.3s ease-out;

    &:hover{
        color: var(--Solid-Gold) !important;
        background-color: var(--Solid-Black) !important;
    }
}

.swal2-styled.swal2-confirm {
    background-color: rgba(0, 0, 0, 0) !important;
    transition: all 0.3s ease-out;
    color: rgba(0, 0, 0, 0.3) !important;
    border: 2px solid var(--Solid-Black) !important;
    box-shadow: none !important;
    font-size: 1.2rem !important;
    font-weight: 700 !important;

    &:hover{
        color: var(--Solid-Black) !important;
        border: 2px solid var(--MinhHung-Red) !important;
    }
}

.swal2-styled:hover{
    background-image: none !important;
}

.swal2-html-container{
    font-size: 1.3rem !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

.swal2-icon.swal2-warning{
    color: var(--MinhHung-Red) !important;
    border-color: var(--MinhHung-Red) !important;
}

.empty-cart {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;

    svg {
        max-width: 40%;
        margin-bottom: 20px;
      }
    svg #oval,
    svg #plus,
    svg #diamond,
    svg #bubble-rounded {
        -webkit-animation: plopp 4s ease-out infinite;
            animation: plopp 4s ease-out infinite;
    }
    svg #oval:nth-child(1),
    svg #plus:nth-child(1),
    svg #diamond:nth-child(1),
    svg #bubble-rounded:nth-child(1) {
        -webkit-animation-delay: -240ms;
            animation-delay: -240ms;
    }
    svg #oval:nth-child(2),
    svg #plus:nth-child(2),
    svg #diamond:nth-child(2),
    svg #bubble-rounded:nth-child(2) {
        -webkit-animation-delay: -480ms;
            animation-delay: -480ms;
    }
    svg #oval:nth-child(3),
    svg #plus:nth-child(3),
    svg #diamond:nth-child(3),
    svg #bubble-rounded:nth-child(3) {
        -webkit-animation-delay: -720ms;
            animation-delay: -720ms;
    }
    svg #oval:nth-child(4),
    svg #plus:nth-child(4),
    svg #diamond:nth-child(4),
    svg #bubble-rounded:nth-child(4) {
        -webkit-animation-delay: -960ms;
            animation-delay: -960ms;
    }
    svg #oval:nth-child(5),
    svg #plus:nth-child(5),
    svg #diamond:nth-child(5),
    svg #bubble-rounded:nth-child(5) {
        -webkit-animation-delay: -1200ms;
            animation-delay: -1200ms;
    }
    svg #oval:nth-child(6),
    svg #plus:nth-child(6),
    svg #diamond:nth-child(6),
    svg #bubble-rounded:nth-child(6) {
        -webkit-animation-delay: -1440ms;
            animation-delay: -1440ms;
    }
    svg #oval:nth-child(7),
    svg #plus:nth-child(7),
    svg #diamond:nth-child(7),
    svg #bubble-rounded:nth-child(7) {
        -webkit-animation-delay: -1680ms;
            animation-delay: -1680ms;
    }
    svg #oval:nth-child(8),
    svg #plus:nth-child(8),
    svg #diamond:nth-child(8),
    svg #bubble-rounded:nth-child(8) {
        -webkit-animation-delay: -1920ms;
            animation-delay: -1920ms;
    }
    svg #oval:nth-child(9),
    svg #plus:nth-child(9),
    svg #diamond:nth-child(9),
    svg #bubble-rounded:nth-child(9) {
        -webkit-animation-delay: -2160ms;
            animation-delay: -2160ms;
    }
    svg #oval:nth-child(10),
    svg #plus:nth-child(10),
    svg #diamond:nth-child(10),
    svg #bubble-rounded:nth-child(10) {
        -webkit-animation-delay: -2400ms;
            animation-delay: -2400ms;
    }
    svg #oval:nth-child(11),
    svg #plus:nth-child(11),
    svg #diamond:nth-child(11),
    svg #bubble-rounded:nth-child(11) {
        -webkit-animation-delay: -2640ms;
            animation-delay: -2640ms;
    }
    svg #oval:nth-child(12),
    svg #plus:nth-child(12),
    svg #diamond:nth-child(12),
    svg #bubble-rounded:nth-child(12) {
        -webkit-animation-delay: -2880ms;
            animation-delay: -2880ms;
    }
    svg #oval:nth-child(13),
    svg #plus:nth-child(13),
    svg #diamond:nth-child(13),
    svg #bubble-rounded:nth-child(13) {
        -webkit-animation-delay: -3120ms;
            animation-delay: -3120ms;
    }
    svg #oval:nth-child(14),
    svg #plus:nth-child(14),
    svg #diamond:nth-child(14),
    svg #bubble-rounded:nth-child(14) {
        -webkit-animation-delay: -3360ms;
            animation-delay: -3360ms;
    }
    svg #oval:nth-child(15),
    svg #plus:nth-child(15),
    svg #diamond:nth-child(15),
    svg #bubble-rounded:nth-child(15) {
        -webkit-animation-delay: -3600ms;
            animation-delay: -3600ms;
    }
    svg #oval:nth-child(16),
    svg #plus:nth-child(16),
    svg #diamond:nth-child(16),
    svg #bubble-rounded:nth-child(16) {
        -webkit-animation-delay: -3840ms;
            animation-delay: -3840ms;
    }
    svg #bg-line:nth-child(2) {
        fill-opacity: 0.3;
    }
    svg #bg-line:nth-child(3) {
        fill-opacity: 0.4;
    }
    @-webkit-keyframes plopp {
        0% {
            transform: translate(0, 0);
            opacity: 1;
        }
        100% {
            transform: translate(0, -10px);
            opacity: 0;
        }
    }
    @keyframes plopp {
        0% {
            transform: translate(0, 0);
            opacity: 1;
        }
        100% {
            transform: translate(0, -10px);
            opacity: 0;
        }
    }
    button{
        color: rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid var(--Solid-Black);

        &:hover{
            color: var(--Solid-Black) !important;
            border: 2px solid var(--MinhHung-Red);
        background-color: rgba(0, 0, 0, 0);

        } 
    }
  }

#delivery-addresses-container{
    margin-bottom: 20px;

    #delivery-addresses-table{
        tbody, td, tfoot, thead, tr {
            border-color: #00000030;
            border-width: 1px;
        }
        th{
            text-align: left;
            background-color: var(--Solid-White);
            color: var(--Solid-Black);
            padding: 2px;
        }
        td{
            text-align: left;
            padding: 2px;

            input{
                width: inherit;
                height: 20px;
                padding: 0px;
                font-size: inherit;
                border-radius: inherit;
                margin-bottom: 2px;
            }

            a{
                padding: 5px;

                &:nth-child(2){
                    padding-right: 0px;
                }
            }
        }
    }
}

#payment-methods-container{
    margin-bottom: 20px;

    #payment-methods-table{
        th{
            text-align: left;
            background-color: var(--Solid-White);
            color: var(--Solid-Black);
            padding: 2px;
        }
        td{
            text-align: left;
            padding: 2px;

            input{
                width: inherit;
                height: 20px;
                padding: 0px;
                font-size: inherit;
                border-radius: inherit;
                margin-bottom: 2px;
            }

            a{
                padding: 2px;
            }
        }
    }
}

.shopee-mail-effect {
    height: 3px;
    width: 100%;
    background-position-x: -30px;
    background-size: 116px 3px;
    background-image: repeating-linear-gradient(135deg,#000000,#000000 33px,transparent 0,transparent 41px,#cb1c22 0,#cb1c22 74px,transparent 0,transparent 82px);
}


  