/* listing page CSS */

.listing-head {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.listing-title-and-count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-head {
    h2 {
        font-size: 2.5rem;
        font-weight: 600;
        white-space: nowrap;
    }

    p {
        text-align: right;
    }
}

.row.listing.head.first {
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-left: 2px !important;
}

.listing-head h5 {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: right;

    a {
        padding: 0;
        cursor: pointer;

        &:last-child {
            color: #888;
            cursor: auto;
        }

        &:hover {
            &:last-child {
                color: #888;
            }

            &:not(:last-child) {
                color: var(--MinhHung-Red) !important;
            }
        }
    }
}

.row.listing.head {
    width: 100%;
}

.category_description {
    text-align: center !important;
}

select {
    border: 1px solid var(--MinhHung-Red);
    font-family: 'Big Shoulders Display', cursive;
    padding: 5px;
    width: 200px !important;
    margin-bottom: 40px;

    &:focus {
        outline: none;
    }
}

option {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.2rem;
}

.small-container label {
    margin-right: 5px;
}

.row.listing {
    justify-content: left;
}

.fas.fa-th-large,
.small-container.listing .fas.fa-th-list {
    padding: 5px;
    float: right;
    font-size: 1.8rem;
    cursor: pointer;
    margin-left: 2px;
    color: var(--MinhHung-Red);
}

.fas.fa-th-large.Active,
.small-container.listing .fas.fa-th-list.Active {
    padding: 2px;
    color: var(--Solid-Black);
    border: 3px solid var(--Solid-Black);
    cursor: auto;
}

.fas.fa-th-large.Active:hover,
.fas.fa-th-large:hover,
.small-container.listing .fas.fa-th-list.Active:hover,
.small-container.listing .fas.fa-th-list:hover {
    color: var(--Solid-Black);
}

.list-item-container.controls,
.list-product-description {
    display: none;
}

.row.listing.body.list {
    display: block;
    margin-left: 1px;
    animation: slidein 0.5s ease-in-out both;

    .col-4 {
        border: 1px solid black;
        width: 100%;
        display: flex;
        margin-bottom: 25px;

        a img {
            width: 150px;
            height: 150px;
        }

        .list-item-container {
            margin-left: 20px;
            padding-right: 20px;
            justify-content: center;
            width: 200px;
            border-right: 2px solid var(--MinhHung-Red-Hover);

            &.controls {
                display: block;
                padding-left: 20px;
                border-right: none !important;
                border-left: 2px solid var(--MinhHung-Red-Hover);
            }
        }
    }
}

.list-item-container.controls {
    .navList-Detail {
        cursor: pointer;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        transition: all 0.1s ease;

        a {
            color: var(--Solid-White);
        }
    }

    .addList-Cart {
        cursor: pointer;
        text-align: center;
        background-color: rgba(203, 28, 34, 0.9);
        transition: all 0.1s ease;

        a {
            color: var(--Solid-White);
        }
    }

    .addList-Cart a:hover,
    .navList-Detail a:hover {
        color: var(--Solid-Gold);
    }
}

.row.listing.body.list {
    .col-4 .list-item-container {
        .brand-title {
            text-align: left;
            padding-top: 10px;
        }

        .price,
        .rating,
        a h4 {
            text-align: left;
        }
    }

    .product-overlay {
        display: none;
    }

    .col-4 .list-product-description {
        flex-basis: 45%;
        height: 130px;
        margin-left: 20px;
        display: -webkit-box;
        overflow: hidden;
        padding: 10px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }
}

#comparision-container {
    margin-top: 10px;
}

.btn.compare {
    float: right;
    margin: 0;
    padding: 5px;
    border-radius: 0;
    font-size: 20px;
    margin-bottom: 5px;
    opacity: 0;
    transition: all 0.5s ease-in-out both;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.page-btn {
    margin-bottom: 100px;
}
