/* account page */
.account-page {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    .alert .close, .alert .mailbox-attachment-close {
        color: #ffffff;
        opacity: 0.3;
    }
    .alert{
        margin: 0;
        border-radius: 0;
    }
    .col-2{
        flex-basis: inherit;
        min-width: 400px;
        .alert.alert-danger{
            width: 400px; margin-top: 60px; margin-bottom: -60px; text-align: center; margin-left: 23px;
        }
    }
}

.form-container {
    background: rgba(255, 255, 255, 0.7);
    width: 400px;
    min-height: 525px;
    position: relative;
    overflow-x: hidden;
    margin: 60px auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(100%) blur(3px);
    margin-left: 23px;

    .form-btn{
        text-align: center;
        width: 100%;
    }

    span {
        font-weight: bold;
        padding: 0 10px;
        color: #000;
        cursor: pointer;
        width: 100px;
        display: inline-block;
    }

    label{
        text-align: left;
        font-size: 18px;
        margin: 0;
        margin-left: 5px;
        padding: 0;
        font-weight: 700;
    }
}

.form-btn {
    display: inline-block;
}

.form-container form{
    max-width: 400px;
    padding: 0 20px;
    position: absolute;
    transition: transform 0.8s ease;
}

form {
    input {
        font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        width: 100%;
        padding: 0 10px;
        border: 1px solid #ccc;
        caret-color: var(--MinhHung-Red);
        height: 38px;
    }

    .btn {
        width: 100%;
        border: none;
        cursor: pointer;
        margin: 10px 0;

        &:focus {
            outline: none;
        }
    }
}

#LoginForm {
    left: 0px;

    a{
        font-size: 20px;
        text-align: center;
        width: 100%;
        display: block;
    }

    .login-logo-container{
        display: flex;
        justify-content: center;
    }
}

#RegForm {
    left: -410px;
}

#ForgotPwdForm {
    right: -410px;
}

#Indicator {
    width: 100px;
    border: none;
    background: var(--MinhHung-Red);
    height: 3px;
    margin-top: 8px;
    transform: translateX(200px);
    transition: transform 0.8s ease;
    opacity: 1 !important;
}

#LogForNav{
    display: none;
    width: max-content;
    cursor: default;
    color: rgba(0, 0, 0, 0.3);
}
